input[type=text]:focus {
    background-color: lightblue;
}

input[type=number]:focus {
    background-color: lightblue;
}

input[type=password]:focus {
    background-color: lightblue;
}

button {
    background-color: blue;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;

}

h1 {
    color:blue;
}

body {
    background-color: lightgrey;
    border:blue;
    justify-content: center;
    align-content: center;
    margin: 5px;
    height: fit-content;
}